<style>
  a.button { color: white; }
  a.button:hover { color: white;}
  a.new_file { color: black; }
  a.new_file:hover { color: white;}
  a.ent { color: white; }
  a.ent:hover { color: white;}
</style>
<h1>Liste Clients</h1>
<br>
<%= link_to 'Nouveau Client', new_client_path,class: 'new_file' %>
<br><br>
<div class="tableau" >
<table>
    <tr>
      <td>Client</td>
      <td class='col_button'>Regarder</td>
      <td class='col_button'>Editer</td>
      <td class='col_button'>Detruire</td>
    </tr>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client %></td>
        <td><%= link_to 'Regarder', client, class: 'button' %></td>
        <td><%= link_to 'Editer', edit_client_path(client), class: 'button' %></td>
        <td><%= link_to 'Detruire', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
      </tr>
    <% end %>
</table>
</div>
<br>


