<%= form_for(@fichier) do |f| %>
  <% if @fichier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fichier.errors.count, "error") %> prohibited this fichier from being saved:</h2>

      <ul>
      <% @fichier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :filepath %><br>
    <%= f.text_field :filepath %>
  </div>
  <div class="field">
    <%= f.label :record_date %><br>
    <%= f.date_select :record_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
