<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style>
th, td {
    border: 1px solid black;
    background-color: white;
    color : black;
}

table {
    position: relative;
}

#title {
    text-decoration: underline;
}

th {
    height: 50px;
} 

th {
    background-color: green;
    color: white;
}

table {
    border-collapse: collapse;
}

</style>
<h1 id='title'>Analyse du Graph</h1>
<table style="width:100%">
  <tr>
    <th>Catégorie</th>
    <th>Charge</th>
    <th>Date</th>
  </tr>

<% @tab_final.each do |key, scop| %>
   <% if scop.size != 0 %>
   <tr>
        <% scop.each do |value| %>
    <td> <%= key %> </td>
            <% value.each do |tab|  %>
                <td>
                    <% if tab.class != Float %>
                        <%= Time.at(tab) %>
                    <%else%>
                        <%=tab%>
                    <%end%>
                </td>
            <% end %>
   <tr>
    <% end %>
<% end %>
        
<%end%>
</table>
</br>

<div id="graph" style="width:100%; height:400px;"></div>
<script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= raw [
            ['Timestamp', *@categs.keys.map(&:to_s)],
            *@points_by_time.map { |timestamp, categs|
              [timestamp, *categs.values]
            }] %>
        );

        var options = {
          title: '<%= @fichier.name %>',
          hAxis: {title: 'GraphAnalitycs',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('graph'));
        chart.draw(data, options);
      }
    </script>

</script>

